[Desktop Entry]
Name=QTads
GenericName=Tads
Comment=Full Multimedia Interpreter for Text Adventure Development System
Exec=/usr/bin/qtads %f
Icon=qtads
Terminal=false
Type=Application
Categories=Game;
MimeType=application/x-tads;application/x-t3vm-image
